/* Ensure body and html take up the full height of the viewport */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Full-screen video background */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Video container fills the full screen */
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 10px; /* Distance from the top of the page */
    left: 10vw; /* Distance from the left of the page */
    width: 40vw; /* Use viewport width for responsive scaling */
    max-width: 250px; /* Ensure logo doesn't grow too large on large screens */
    height: auto;
    z-index: 10; /* Ensure the logo appears above the video */
}

/* Contact Us button on top right */
.scroll-to-contact {
    position: absolute;
    top: 20px;
    right: 10vw;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for button */
.scroll-to-contact:hover {
    background-color: #555;
}

/*@media (max-width: 800px) {
    .logo {
        width: 20vw;
        top: 10px;
        left: 10px;
    }

    .scroll-to-contact {
        right: 10px;
        top: 10px;
        font-size: 0.9em;
        padding: 8px 16px;
    }
}*/

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -1; /* Place video behind everything */
}

/* Centered content on the video background */
.content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 5em;
    margin: 0;
    font-weight: 900;
}

h3 {
    font-size: 2em;
    color:#cdcfd0;
    margin: 0;
    font-weight: 900;
}

p {
    font-size: 1.5em;
    margin: 0;
    color:#cdcfd0;
    font-weight: 400;
}

/* About section style */
.about {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

.about h2 {
    margin-top: 50px;
    font-size: 2.5em;
    color: #333;
    font-weight: 700;
}

.about h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.75em;
    color: #444343;
    font-weight: 700;
}

.about p {
    font-size: 1.4em;
    color: #666;
    max-width: 700px;
    margin: 0 auto;
    font-weight: 400;
}

.about li {
    font-size: 1.4em;
    color: #666;
    max-width: 700px;
    margin: 0 auto;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}

.about video {
    width: 75%;
    height: auto;
    margin-top: 20px;
}

/* Contact section styling */
.contact {
    padding: 50px;
    background-color: #e9ecef;
    text-align: center;
}

.contact h2 {
    font-size: 2.5em;
    color: #333;
    font-weight: 700;
}

.contact p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}



/* Contact form styling */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.contact-form input, .contact-form textarea {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form button {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.contact-form button:hover {
    background-color: #555;
}

/* Contact details styling */
.contact-details {
    margin-top: 30px;
}

.contact-details h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 1.1em;
    color: #666;
    margin: 5px 0;
}





/* Footer Styling */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-left {
    font-size: 0.9em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-right {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-logo {
    width: auto;
    height: 100px;
    margin-right: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
}

.footer a:hover {
    opacity: 0.8;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-right {
        margin-top: 10px;
    }

    .footer-logo {
        width: 80px;
        margin-left: 10px;
    }
}